.card {
  flex-shrink: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.6s ease, flex-basis 1s ease, opacity 0.8s ease;
  overflow: hidden;
  flex-basis: 25%;
}

.default {
  background-color: white;
  color: black;
}

.active.greenCard {
  background-color: #6fcf97;
  color: white;
}
.active.berryCard {
  background-color: #bb6bd9;
  color: white;
}
.active.orangeCard {
  background-color: #f2994a;
  color: white;
}
.active.strawberryCard {
  background-color: #eb5757;
  color: white;
}

.expanded.greenCard {
  background-color: #6fcf97;
}
.expanded.berryCard {
  background-color: #bb6bd9;
}
.expanded.orangeCard {
  background-color: #f2994a;
}
.expanded.strawberryCard {
  background-color: #eb5757;
}

.expanded {
  flex-basis: 100vw;
  z-index: 10;
}

.inactive {
  flex-basis: 0;
  opacity: 0;
  pointer-events: none;
}

.button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #f2f2f2;
}

.disabledBtn {
  background-color: #cccccc;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}
