@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  font-family: "Figtree", sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.cardContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
